<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>
<body>
  <header>
    <strong>Block70</strong>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <small>Footer</small>
  </footer>
</body>
</html>