---
layout: layout.njk
title: Success
---

<section class="success">
  <div class="container narrow">
    <h1>You're in 🎉</h1>
    <p>Your Block70 subscription is active.</p>
    <p>You’ll receive onboarding instructions by email.</p>

    <a href="/platform/" class="btn primary">Explore the Platform</a>
  </div>
</section>